@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  background-color: #b5d6b7;
  font-family: 'Lobster', cursive;

}

#form {
    padding-left: 16%;
    padding-top: 3%;
    height: 40px;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
  }

#form input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }
  
#form input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #cf6767;
  }
  
  #form input[type='submit']:hover {
    background-color: #A94438;
    transition: background-color 1s;
  }

#container {
    width: 97vw;
    height: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template: 
    "n m m" auto
    "n m m" auto
    "n f f" 115px /1fr 3fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#main h1 {
    grid-area: m;
    font-weight: 800;
    font-size: 3.5em;
    letter-spacing: 0.3px;
    place-self: end start;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr;
}

#home p{
    grid-area: m;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
    place-self: start end;
}

#nav{
    grid-area: n;
    background-color: #FEF9D9;
    display: grid;
    grid-template-rows: repeat(45, 1fr);
    padding-left:5px; 
    position: fixed;
    

}

.name{
    grid-row: 1/3;
    font-weight: 1000;
    font-size: 2em;
    margin-bottom: 0;
    place-self: end start;
    
}
.homenav{
    grid-row: 3/5;
    place-self: center;
    padding: 10px 53px;
    border: solid;
    border-radius: 50px 10px;
}

.homenav a {
    list-style: none;
    text-decoration: none;
    color: #e28335;
    font-weight: 800;
}
.aboutnav a {
    list-style: none;
    text-decoration: none;
    color: #e28335;
    font-weight: 800;
}
.typenav a {
    list-style: none;
    text-decoration: none;
    color: #e28335;
    font-weight: 800;
}
.featurenav a {
    list-style: none;
    text-decoration: none;
    color: #e28335;
    font-weight: 800;
}
.contactnav a {
    list-style: none;
    text-decoration: none;
    color: #e28335;
    font-weight: 800;
}
.homenav:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 10px 50px;
}
.aboutnav{
    grid-row: 5/7 ;
    place-self: center;
    padding: 10px 39px;
    border: solid;
    border-radius: 50px 10px;
}
.aboutnav:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 10px 50px;
}
.typenav:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 10px 50px;
}
.featurenav:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 10px 50px;
}
.typenav{
    grid-row: 7/9;
    place-self: center;
    padding: 10px 19px;
    border: solid;
    border-radius: 50px 10px;
}
.contactnav:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 10px 50px;
}
.featurenav{
    grid-row: 9/11;
    place-self: center;
    padding: 10px 41px;
    border: solid;
    border-radius: 50px 10px;
}
.contactnav{
    grid-row: 11/13 ;
    place-self: center;
    padding: 10px 32px;
    border: solid;
    border-radius: 50px 10px;
}
#main{
    grid-area: m;
    background-color: ;
    padding: 0px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color:#D2E0FB;

}

#home img {
    width: 620px;
    height: 400px;
    border-radius: 20px;
}

#about img{
    width: 300px;
    height: 300px;

}

#about{
    padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(90% );
  margin: 50px;
  border: 1px solid #606676;
  border-radius: 20px;
  background-color: #DEE5D4;
}

#about h2 {
    margin: 5px;

}
#about p{
    font-size: 1.2em;
    font-weight: 300;
}

#type img{
    width: 300px;
    height: 300px;

}

#type{
    padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(90% );
  margin: 50px;
  border: 1px solid #606676;
  border-radius: 20px;
  background-color: #DEE5D4;
}

#type h2 {
    margin: 5px;

}
#type p{
    font-size: 1.2em;
    font-weight: 300;
}

#featured img{
    width: 300px;
    height: 300px;

}

#featured{
    padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(90% );
  margin: 50px;
  border: 1px solid #606676;
  border-radius: 20px;
  background-color: #DEE5D4;
}

#featured h2 {
    margin: 5px;

}
#featured p{
    font-size: 1.2em;
    font-weight: 300;
}

#footer{
    grid-area: f;
    display: grid;
    background-color: #8EACCD;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
}
.privacy{
    grid-row: 5/7 ;
    place-self: center;
    padding: 5px 20px;
    border: solid;
    border-radius: 10px 50px;
}
.contact{
    grid-row: 5/7 ;
    place-self: center;
    padding: 5px 20px;
    border: solid;
    border-radius: 10px 50px;
}
.terms{
    grid-row: 5/7 ;
    place-self: center;
    padding: 5px 20px;
    border: solid;
    border-radius: 10px 50px;
}

.privacy a {
    list-style: none;
    text-decoration: none;
    color: #12081d;
    font-weight: 800;
}
.terms a {
    list-style: none;
    text-decoration: none;
    color: #12081d;
    font-weight: 800;
}
.contact a {
    list-style: none;
    text-decoration: none;
    color: #12081d;
    font-weight: 800;
}
.privacy:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 50px 10px;
}
.terms:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 50px 10px;
}
.contact:hover{
    background-color: #ecd79e;
    cursor: pointer;
    border-radius: 50px 10px;
}

#footer > span {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #3f2f1c;
    grid-column: 2/2;
    font-weight: 700;
  }