@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  background-color: #b5d6b7;
  font-family: 'Lobster', cursive;

}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #5F6F65;
  text-decoration: none;
}


.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF7F1;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    color: #470100;
  }
}

.name {
  width: 60vw;
}

@media (max-width: 650px) {
  .name {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.name > p {
  width: 80%;
  height: 80%;
  max-width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .name > p {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

nav ul > li>a:hover{
  background-color: #e797c6;
  cursor: pointer;
}

nav ul>li>a{
  color: #c26a2b;
  padding: 10px;
  text-align: center;
  align-items: center;
  font-size: small;
  margin: 1px;
  border: 1px solid #606676;
  border-radius: 3px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 150px;
  font-size: 20px;
}

#home > h1 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#home input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#home input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #BEC6A0;
}

#home input[type='submit']:hover {
  background-color: #708871;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #home {
    margin-top: 120px;
  }
}

section {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feature {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 50px;
  border: 1px solid #606676;
  border-radius: 3px;
  background-color: #8db38f;
}

.feature > h2 {
  margin-top: 15px;
}

@media (max-width: 800px) {
  section {
    flex-direction: row;
  }
  .features {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

img {
  width: 60%;
  height: 60%;
}

footer {
  margin-top: 30px;
  background-color: #BEC6A0;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #708871;

}